<div class="card">
    <div class="card-body">
    <table class="table">
    <tr>
        <th>Group</th>
        <th>Min Weight</th>
        <th>Group By Acct</th>
        <th>Base Destination</th>
        <th>Unscheduled Orders</th>
    </tr>
    <tr *ngFor="let group of groups$ | async">
        <td><a [routerLink]="['/group',group.id]">{{group.groupName}}</a></td>
        <td>{{group.minWeight}}</td>
        <td>{{group.groupByAcct}}</td>
        <td>{{group.destinationBase}}</td>
        <td>{{group.unscheduledOrders}}</td>
    </tr>
</table>
<a class="btn btn-primary" [routerLink]="['/group','new']">Create New</a>
</div>
</div>
