<div *ngIf="(groups$ | async) as groups; else loading">
    <div class="card">
        <div class="card-body">
        <table class="table">
        <tr>
            <th>Group</th>
            <th>Base Destination</th>
            <th>Day Offset</th>
            <th>Delivery Days</th>
            <th>Unscheduled Orders</th>
        </tr>
        <tr *ngFor="let group of groups">
            <td><a [routerLink]="['/group',group.id]">{{group.groupName}}</a></td>
            <td>{{group.destinationBase}}</td>
            <td>{{group.dayOffset}}</td>
            <td>{{group.deliveryDays}}</td>
            <td>{{group.unscheduledOrders}}</td>
        </tr>
    </table>
    <a class="btn btn-primary" [routerLink]="['/group','new']">Create New</a>
    </div>
    </div>
</div>
<ng-template #loading>
<app-loader-wrapper [showSpinner]="true"></app-loader-wrapper>
</ng-template>