<div class="card" *ngIf="isFilterVisible">
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h5 class="card-title">Filters</h5>
        <!--Text-->
        <form [formGroup]="orderFilterForm">
            <accordion [closeOthers]="true" [isAnimated]="true">
                <accordion-group *ngIf="">
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Scheduled/Unscheduled</div>
                    </button>
                    <div class="col col-12">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="scheduled"
                                formControl="includeScheduled" name="scheduled">
                            <label class="custom-control-label" for="scheduled">Scheduled</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="unscheduled"
                                formControl="includeUnscheduled" name="unscheduled">
                            <label class="custom-control-label" for="unscheduled">Unscheduled</label>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Include Vista Status</div>
                    </button>
                    <div class="col col-12">
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <app-multiselect-input [options]="vistaStatusOptions" formControlName="vistaStatus">
                                    </app-multiselect-input>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </accordion-group>
                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Include Schedule Status</div>
                    </button>
                    <div class="col col-12">
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <app-multiselect-input [options]="statusOptions" formControlName="status">
                                    </app-multiselect-input>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </accordion-group>
                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Include Markets</div>
                    </button>
                    <div class="col col-12">
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <app-multiselect-input [options]="marketOptions" formControlName="prime">
                                    </app-multiselect-input>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </accordion-group>
                <accordion-group *ngIf="showSiteOptions">
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Include Sites</div>
                    </button>
                    <div class="col col-12">
                        <fieldset class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <app-multiselect-input [options]="siteOptions" formControlName="site">
                                    </app-multiselect-input>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </accordion-group>
                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Include Date Ranges</div>
                    </button>
                    Work Date
                    <div class="form-group row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="workDateFrom" class="col-form-label col-form-label-sm">From</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="workDateFrom" formControlName="workDateFrom">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="workDateFromOffset" class="col-form-label col-form-label-sm">From Offset</label>
                            <input type="number" class="form-control form-control-sm" id="workDateFromOffset" formControlName="workDateFromOffset">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="workDateTo" class="col-form-label col-form-label-sm">To</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="workDateTo" formControlName="workDateTo">
                        </div>                            
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="workDateToOffset" class="col-form-label col-form-label-sm">To Offset</label>
                            <input type="number" class="form-control form-control-sm"  id="workDateToOffset" formControlName="workDateToOffset">
                        </div>
                    </div>
                    Despatch Date
                    <div class="form-group row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="despDateFrom" class="col-form-label col-form-label-sm">From</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="despDateFrom" formControlName="despDateFrom">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="despDateFromOffset" class="col-form-label col-form-label-sm">From Offset</label>
                            <input type="number" class="form-control form-control-sm" id="despDateFromOffset" formControlName="despDateFromOffset">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="despDateTo" class="col-form-label col-form-label-sm">To</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="despDateTo" formControlName="despDateTo">
                        </div>                            
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="despDateToOffset" class="col-form-label col-form-label-sm">To Offset</label>
                            <input type="number" class="form-control form-control-sm"  id="despDateToOffset" formControlName="despDateToOffset">
                        </div>
                    </div>
                    Delivery Date
                    <div class="form-group row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="delDateFrom" class="col-form-label col-form-label-sm">From</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="delDateFrom" formControlName="delDateFrom">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="delDateFromOffset" class="col-form-label col-form-label-sm">From Offset</label>
                            <input type="number" class="form-control form-control-sm" id="delDateFromOffset" formControlName="delDateFromOffset">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="delDateTo" class="col-form-label col-form-label-sm">To</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="delDateTo" formControlName="delDateTo">
                        </div>                            
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="delDateToOffset" class="col-form-label col-form-label-sm">To Offset</label>
                            <input type="number" class="form-control form-control-sm"  id="delDateToOffset" formControlName="delDateToOffset">
                        </div>
                    </div>
                    Invoice Date
                    <div class="form-group row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="invoiceDateFrom" class="col-form-label col-form-label-sm">From</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="invoiceDateFrom" formControlName="invoiceDateFrom">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="invoiceDateFromOffset" class="col-form-label col-form-label-sm">From Offset</label>
                            <input type="number" class="form-control form-control-sm" id="invoiceDateFromOffset" formControlName="invoiceDateFromOffset">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="invoiceDateTo" class="col-form-label col-form-label-sm">To</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="invoiceDateTo" formControlName="invoiceDateTo">
                        </div>                            
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="invoiceDateToOffset" class="col-form-label col-form-label-sm">To Offset</label>
                            <input type="number" class="form-control form-control-sm"  id="invoiceDateToOffset" formControlName="invoiceDateToOffset">
                        </div>
                    </div>
                    Actual Despatch Date
                    <div class="form-group row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="actualDespDateFrom" class="col-form-label col-form-label-sm">From</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="actualDespDateFrom" formControlName="actualDespDateFrom">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="actualDespDateFromOffset" class="col-form-label col-form-label-sm">From Offset</label>
                            <input type="number" class="form-control form-control-sm" id="actualDespDateFromOffset" formControlName="actualDespDateFromOffset">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="actualDespDateTo" class="col-form-label col-form-label-sm">To</label>
                            <input type="text" class="form-control form-control-sm"  bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" id="actualDespDateTo" formControlName="actualDespDateTo">
                        </div>                            
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="actualDespDateToOffset" class="col-form-label col-form-label-sm">To Offset</label>
                            <input type="number" class="form-control form-control-sm"  id="actualDespDateToOffset" formControlName="actualDespDateToOffset">
                        </div>
                    </div>
                </accordion-group>
                <accordion-group>
                    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                        <i class="fas fa-plus-square pull-left float-left mt-1"></i>
                        <div class="pull-left float-left ml-2">Text Search</div>
                    </button>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="batch" class="col-form-label col-form-label-sm">Batch</label>
                            <input type="text" class="form-control form-control-sm"  id="batch" formControlName="batch">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="account" class="col-form-label col-form-label-sm">Account</label>
                            <input type="text" class="form-control form-control-sm"  id="account" formControlName="account">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="invoice" class="col-form-label col-form-label-sm">Invoice</label>
                            <input type="text" class="form-control form-control-sm"  id="invoice" formControlName="invoice">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <label for="name" class="col-form-label col-form-label-sm">Name</label>
                            <input type="text" class="form-control form-control-sm"  id="name" formControlName="name">
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </form>
        <div *ngIf="updateButton" class="row mt-2">
            <div class="col text-center">
                <button type="button" (click)="filterUpdated()" class="btn btn-primary btn-sm">Update Filter</button>
            </div>
        </div>
    </div>
</div>