<div>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="currentGroup === '*'" (click)="selectedGroup('*')">All Orders</a>
    </li>
    <li class="nav-item" *ngFor="let group of groups">
      <a class="nav-link" [class.active]="currentGroup === group.id" (click)="selectedGroup(group.id)">{{group.groupName}}</a>
    </li>
</ul>
</div>
<form [formGroup]="workTableForm">
    <div>
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th>Invoice</th>
                <th>Batch</th>
                <th>Account</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Units</th>
                <th>Lines</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Work Date</th>
                <th>Del Date</th>
                <th>Desp Date</th>
                <th>Scheduled</th>
            </tr>
        </thead>
        <tbody>
            <tr formArrayName="workItems" *ngFor="let work of workTableForm.get('workItems').controls; let i = index;" mdbTableCol>
                <ng-container [formGroupName]="i">
                <td><a [routerLink]="['/order', workItems[i].id]" style="cursor: pointer;">{{workItems[i].invoice}}</a></td>
                <td>{{workItems[i].batch}}</td>
                <td>{{workItems[i].account}}</td>
                <td>{{workItems[i].name}}</td>
                <td>{{workItems[i].invWeight}}</td>
                <td>{{workItems[i].units}}</td>
                <td>{{workItems[i].lines}}</td>
                <td><input mdbInput type="text" formControlName="palDest" size="8" /></td>
                <td>{{workItems[i].vistaStatus}}</td>
                <td><input mdbInput type="date" formControlName="workDate" style="width: 130px;"/></td>
                <td><input mdbInput type="date" formControlName="delDate"  style="width: 130px;"/></td>
                <td><input mdbInput type="date" formControlName="despDate"  style="width: 130px;"/></td>
                <td>
                        <div class="custom-control custom-checkbox ml-2">
                                <input (click)="checkclicked($event)" type="checkbox" formControlName="addToSchedule" class="custom-control-input" id="add-{{i}}">
                                <label class="custom-control-label" for="add-{{i}}"></label>
                              </div>
            
                </td>
                </ng-container>
            </tr>
                  </tbody>
    </table>
    </div>
    </form>
