<nav aria-label="pagination">
    <ul class="pagination pagination-circle pg-blue">
      <li class="page-item" [class.disabled]="!firstEnabled"><a class="page-link" mdbWavesEffect (click)="sendPage(0)">First</a></li>
      <li class="page-item" [class.disabled]="!firstEnabled">
        <a class="page-link" aria-label="Previous" mdbWavesEffect (click)="sendPage(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li *ngFor="let pageItem of listPages; let page = index;"
        class="page-item" [class.active]="page - 1 + startPage === currentPage ">
          <a class="page-link" mdbWavesEffect (click)="sendPage(page + startPage - 1)">{{page + startPage}}</a>
      </li>
      <li class="page-item" [class.disabled]="!lastEnabled">
        <a class="page-link" aria-label="Next" mdbWavesEffect (click)="sendPage(currentPage + 1)">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="!lastEnabled"><a class="page-link" mdbWavesEffect (click)="sendPage(maxPages - 1)">Last</a></li>
    </ul>
  </nav>