<form [formGroup]="workForm">
        <div class="md-form">
        <table mdbTable small="true">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Batch</th>
                    <th>Account</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Units</th>
                    <th>Lines</th>
                    <th>Destination</th>
                    <th>Status</th>
                    <th>Work Date</th>
                    <th>Del Date</th>
                    <th>Desp Date</th>
                    <th>Scheduled</th>
                </tr>
            </thead>
            <tbody>
                <ng-container formArrayName="groups" *ngFor="let group of workForm.get('groups').controls; let groupIndex = index">
                    <ng-container [formGroupName]="groupIndex">
                        <tr>
                            <td colspan="13">{{unscheduledWork[groupIndex].group.groupName}}</td>
                        </tr>
                        <tr formArrayName="workItems" *ngFor="let workItem of group.get('workItems').controls; let w = index">
                            <ng-container [formGroupName]="w">
                                <td><a [routerLink]="['/order', unscheduledWork[groupIndex].work[w].workId]">{{unscheduledWork[groupIndex].work[w].invoice}}</a></td>
                                <td>{{unscheduledWork[groupIndex].work[w].batch}}</td>
                                <td>{{unscheduledWork[groupIndex].work[w].account}}</td>
                                <td>{{unscheduledWork[groupIndex].work[w].name}}</td>
                                <td>{{unscheduledWork[groupIndex].work[w].weight}}</td>
                                <td>{{unscheduledWork[groupIndex].work[w].units}}</td>
                                <td>{{unscheduledWork[groupIndex].work[w].lines}}</td>
                                <td><input mdbInput type="text" formControlName="destination" /></td>
                                <td>{{unscheduledWork[groupIndex].work[w].status}}</td>
                                <td><input mdbInput type="date" formControlName="workDate" /></td>
                                <td><input mdbInput type="date" formControlName="delDate" /></td>
                                <td><input mdbInput type="date" formControlName="despDate" /></td>
                                <td>
                                        <div class="custom-control custom-checkbox ml-2">
                                                <input type="checkbox" formControlName="addToSchedule" class="custom-control-input" id="-{{workItem.workId}}">
                                                <label class="custom-control-label" for="add-{{workItem.workId}}">Add</label>
                                                </div>
                    
                                </td>                    
                            </ng-container>
                        </tr >
                    
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</form>
<div class="fixed-bottom" *ngIf="popupVisible">
        <mdb-card>
                <!--Card content-->
                <mdb-card-body>
                    <!--Text-->
                    <a (click)="this.saveChanges()" mdbBtn color="primary" class="btn-sm" mdbWavesEffect>Save Changes</a>
                    <a (click)="this.selectRanges()" mdbBtn color="secondary" class="btn-sm" mdbWavesEffect>Select Ranges</a>
                    <a (click)="this.allocateDest()" mdbBtn color="secondary" class="btn-sm" mdbWavesEffect>Allocate Destination</a>
                    <a (click)="this.cancelAll()" mdbBtn color="danger" class="btn-sm" mdbWavesEffect>Cancel</a>
                </mdb-card-body>
        </mdb-card>    
</div>