<div class="card" *ngIf="isFilterVisible">
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h5 class="card-title">Filters</h5>

        <!--Text-->
        <form [formGroup]="workParamsForm">
            <div class="row">
                <div class="col col-3">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-12 col-form-label-sm">Work Schedule</legend>
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="scheduled"
                                        formControl="INCLUDE_SCHEDULED" name="scheduled">
                                    <label class="custom-control-label" for="scheduled">Scheduled</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="unscheduled"
                                        formControl="INCLUDE_UNSCHEDULED" name="unscheduled">
                                    <label class="custom-control-label" for="unscheduled">Unscheduled</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col col-sm-3">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-12 col-form-label-sm">Vista Status</legend>
                            <div class="col-sm-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="vista_despatched"
                                        formControl="INCLUDE_V_DESPATCHED" name="vista_despatched">
                                    <label class="custom-control-label" for="vista_despatched">Despatched</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="vista_partDespatched"
                                        formControl="INCLUDE_V_PARTDESPATCHED" name="vista_partDespatched">
                                    <label class="custom-control-label" for="vista_partDespatched">Part
                                        Despatched</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="vista_partPacked"
                                        formControl="INCLUDE_V_PARTPACKED" name="vista_partPacked">
                                    <label class="custom-control-label" for="vista_partPacked">Part
                                        Packed</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="vista_partPicked"
                                        formControl="INCLUDE_V_PARTPICKED" name="vista_partPicked">
                                    <label class="custom-control-label" for="vista_partPicked">Part
                                        Picked</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="vista_unstarted"
                                        formControl="INCLUDE_V_UNSTARTED" name="vista_unstarted">
                                    <label class="custom-control-label" for="vista_unstarted">Unstarted</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col col-sm-3">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-12 col-form-label-sm">Schedule Status</legend>
                            <div class="col-sm-12">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="despatched"
                                        formControl="INCLUDE_DESPATCHED" name="despatched">
                                    <label class="custom-control-label" for="despatched">Despatched</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="complete"
                                        formControl="INCLUDE_COMPLETE" name="complete">
                                    <label class="custom-control-label" for="complete">Complete</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="inprogress"
                                        formControl="INCLUDE_INPROGRESS" name="inprogress">
                                    <label class="custom-control-label" for="inprogress">In Progress</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="prepared"
                                        formControl="INCLUDE_PREPARED" name="prepared">
                                    <label class="custom-control-label" for="prepared">Prepared</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="onhold"
                                        formControl="INCLUDE_ONHOLD" name="onhold">
                                    <label class="custom-control-label" for="onhold">On Hold</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="unstarted"
                                        formControl="INCLUDE_UNSTARTED" name="unstarted">
                                    <label class="custom-control-label" for="unstarted">Unstarted</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="other"
                                        formControl="INCLUDE_OTHER" name="other">
                                    <label class="custom-control-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col col-3">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col col-12 col-form-label col-form-label-sm">Date Range</legend>
                            <div class="col col-3">From</div>
                            <div class="col col-9">
                                <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControl="DATERANGE_FROM" class="form-control form-control-sm" name="dateFrom" />
                            </div>
                            <div class="col col-3">To</div>
                            <div class="col col-9">
                                <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControl="DATERANGE_TO" class="form-control form-control-sm" name="dateTo" />
                            </div>
                            <div class="col col-12">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="invoice"
                                        name="filterDateBy" formControl="DATERANGE_BY" value="invoice" />
                                    <label class="custom-control-label" for="invoice">Invoice</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="work"
                                        name="filterDateBy" formControl="DATERANGE_BY" value="work" />
                                    <label class="custom-control-label" for="work">Work</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="delivery"
                                        name="filterDateBy" formControl="DATERANGE_BY" value="delivery" />
                                    <label class="custom-control-label" for="delivery">Delivery</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="despatch"
                                        name="filterDateBy" formControl="DATERANGE_BY" value="despatch" />
                                    <label class="custom-control-label" for="despatch">Despatch</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="actualDesp"
                                        name="filterDateBy" formControl="DATERANGE_BY" value="actualDesp" />
                                    <label class="custom-control-label" for="actualDesp">Actual Despatch</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="button" class="btn btn-primary" (click)="updateFilter()">Update Results</button>
            </div>
        </form>
    </div>
</div>