<!-- <ul class="list-group list-group-horizontal"> 
    <li *ngFor="let selection of selections" class="list-group-item" [class.active]="selection.selected" (click)="optionSelected(selection)">{{selection.description}}</li>
</ul>  -->
<div class="row">
    <div *ngFor="let selection of selections" class="col col-12 col-sm-6 col-md-4 col-lg-3 mb-2">

    <button type="button" class="btn btn-sm btn-block" (click)="optionSelected(selection)" [class.btn-primary]="selection.selected" [class.btn-outline-secondary]="!selection.selected">
                {{selection.description === '' ? 'Blank' : selection.description}}</button>
    </div>
</div>