<div class="col">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <div class="text-center">{{chartName}}</div>
            </mdb-card-title>
            <div style="display: block">
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="true">
                </canvas>
            </div>
        </mdb-card-body>
        <mdb-card-footer>
            Last Updated: hh:mm:ss
        </mdb-card-footer>
    </mdb-card>
</div>