<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>
<ng-container *ngIf="!isLoading">
<div class="row">
<div class="col col-sm-12 col-md-6 col-lg-4 mt-2 mb-2">
<mdb-card>
    <!--Card content-->
    <mdb-card-body>
    
        <!--Title-->
        <mdb-card-title>
        <h4>{{order.invoice}}</h4>
        </mdb-card-title>
    
        <!--Text-->
        <mdb-card-text>
            <dl class="dl-horizontal">
                <dt>Account</dt>
                <dd>{{order.account}}</dd>
                <dt>Name</dt>
                <dd>{{order.name}}</dd>
                <dt>Invoice Date</dt>
                <dd>{{order.dateInvoiced | date: 'dd-MM-yyyy'}}</dd>
                <dt>Batch</dt>
                <dd>{{order.batch}}</dd>
            </dl>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
</div>
<div class="col col-sm-12 col-md-6 col-lg-4 mt-2 mb-2">
    <mdb-card>
        <!--Card content-->
        <mdb-card-body>
        
            <!--Title-->
            <mdb-card-title>
            <h4>Vista Data</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text>
                <dl>
                    <dt>Weight</dt>
                    <dd>{{order.invWeight}}Kg</dd>
                    <dt>Lines</dt>
                    <dd>{{order.lines}}</dd>
                    <dt>Units</dt>
                    <dd>{{order.units}}</dd>
                    <dt>Picked</dt>
                    <dd>{{order.pickedQty}}</dd>
                    <dt>Destination</dt>
                    <dd>{{order.destination}}</dd>
                    <dt>Status</dt>
                    <dd>{{order.status}}</dd>
                </dl>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>
    </div>
<div class="col col-sm-12 col-md-6 col-lg-4 mt-2 mb-2">
<mdb-card>
    <!--Card content-->
    <mdb-card-body>
    
        <!--Title-->
        <mdb-card-title>
        <h4>Schedule Info</h4>
        </mdb-card-title>
    
        <!--Text-->
        <mdb-card-text>
            <form [formGroup]="scheduleForm">
                <dl>
                    <dt><label for="txtComments">Comments</label></dt>
                    <dd><textarea formControlName="comments" id="txtComments"></textarea></dd>                        
                    <dt><label for="txtStatus">Status</label></dt>
                    <dd><input mdbInput type="text" formControlName="status" id="txtStatus"></dd>
                </dl>
                <button (click)="submitForm()">Save</button>
                            <!-- <div class="checkbox">
                                <input type="checkbox" formControlName="picked" class="checkbox__input" id="chkPicked">
                                <label for="chkPicked" class="checkbox__label">Picked</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" formControlName="packed" class="checkbox__input" id="chkPacked">
                                <label for="chkPacked" class="checkbox__label">Packed</label>
                            </div>         -->
            </form>
                    <!--<input mdbInput type="text" formControlName="ALP">
                    <input mdbInput type="text" formControlName="bench">
                    <input mdbInput type="text" formControlName="priority">
                    <input mdbInput type="text" formControlName="holdLoc">
                    <input mdbInput type="text" formControlName="palconPacked">
                    
                    <input mdbInput type="text" formControlName="workDate">
                    <input mdbInput type="text" formControlName="delDate">
                    <input mdbInput type="text" formControlName="despDate">
                    <input mdbInput type="text" formControlName="palletIds">
                    <input mdbInput type="text" formControlName="palletCount">
                    <input mdbInput type="text" formControlName="palletNumbers"> -->

        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
</div>
</div>
</ng-container>