<ng-container *ngIf="isLoading">
  <app-loading></app-loading>
</ng-container>
<ng-container *ngIf="!isLoading">
  <div class="row">
    <div class="col col-12 mt-2 mb-2">
      <div class="card">
        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h5 class="card-title">
            <h4>{{orderForm.controls.invoice.value}}</h4>
          </h5>

          <!--Text-->
          <form [formGroup]="orderForm">
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label for="invoice" class="col-4 col-md-2 col-form-label col-form-label-sm my-1">Invoice</label>
                  <div class="col-8 col-md-4">
                    <input type="text" class="form-control form-control-sm" id="invoice" formControlName="invoice">
                    <span *ngIf="orderForm.controls.invoice.invalid" class="small text-danger">
                      Invoice must be 8 characters
                    </span>
                  </div>
                  <label for="account" class="col-4 col-md-2 col-form-label col-form-label-sm my-1">Account</label>
                  <div class="col-8 col-md-4">
                    <input type="text" class="form-control form-control-sm" id="account" formControlName="account">
                    <span *ngIf="orderForm.controls.account.invalid" class="small text-danger">
                      Account number must be 10 digits
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="batch" class="col-4 col-md-2 col-form-label col-form-label-sm my-1">Batch</label>
                  <div class="col-8 col-md-4">
                    <input type="text" class="form-control form-control-sm" id="batch" formControlName="batch">
                    <span *ngIf="orderForm.controls.batch.invalid" class="small text-danger">
                      Batch No. should be 5 digits
                    </span>
                  </div>
                  <label for="name" class="col-4 col-md-2 col-form-label col-form-label-sm my-1">Name</label>
                  <div class="col-8 col-md-4">
                    <input type="text" class="form-control form-control-sm" id="name" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="dateInvoiced" class="col-4 col-md-2 col-form-label col-form-label-sm my-1">Invoice
                    Date</label>
                  <div class="col-8 col-md-4">
                    <input type="text" class="form-control form-control-sm" id="dateInvoiced"
                      formControlName="dateInvoiced" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                  </div>
                  <label for="dateDespatchedActual" class="col-4 col-md-2 col-form-label col-form-label-sm my-1">Actual
                    Despatch
                    Date</label>
                  <div class="col-8 col-md-4">
                    <input type="text" class="form-control form-control-sm" id="dateDespatchedActual"
                      formControlName="dateDespatchedActual" bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-6 mt-2 mb-2">
      <div class="card">
        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h5 class="card-title">
            <h4>Vista Data</h4>
          </h5>

          <!--Text-->
          <form [formGroup]="orderForm">
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label for="vistaStatus" class="col-sm-4 col-form-label col-form-label-sm">Status</label>
                  <div class="col-sm-6">
                    <select formControlName="vistaStatus" class="form-control form-control-sm">
                      <option *ngFor="let option of vistaStatusOptions" [value]="option">{{option}}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <button class="btn btn-sm btn-danger btn-block" (click)="openModal(allowEdit)">Allow Edit</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="workType" class="col-sm-4 col-form-label col-form-label-sm">Work Type</label>
                  <div class="col-sm-8">
                    <select formControlName="workType" class="form-control form-control-sm">
                      <option *ngFor="let option of workTypeOptions" [value]="option">{{option}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="invWeight" class="col-sm-4 col-form-label col-form-label-sm">Weight</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="invWeight"
                      formControlName="invWeight">
                    <span *ngIf="orderForm.controls.invWeight.invalid" class="small text-danger">
                      Invoice weight should be a numeric to 3 decimal places
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="units" class="col-sm-4 col-form-label col-form-label-sm">Units</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="units" formControlName="units" />
                    <span *ngIf="orderForm.controls.units.invalid" class="small text-danger">
                      Units should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lines" class="col-sm-4 col-form-label col-form-label-sm">Lines</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="lines" formControlName="lines">
                    <span *ngIf="orderForm.controls.lines.invalid" class="small text-danger">
                      Lines should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pickedQty" class="col-sm-4 col-form-label col-form-label-sm">Picked Qty</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="pickedQty"
                      formControlName="pickedQty">
                    <span *ngIf="orderForm.controls.pickedQty.invalid" class="small text-danger">
                      Picked quantity should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pickedBulk" class="col-sm-4 col-form-label col-form-label-sm">Picked Bulk</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="pickedBulk"
                      formControlName="pickedBulk">
                    <span *ngIf="orderForm.controls.pickedBulk.invalid" class="small text-danger">
                      Picked bulk should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="pickedLoose" class="col-sm-4 col-form-label col-form-label-sm">Picked
                    Loose</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="pickedLoose"
                      formControlName="pickedLoose">
                    <span *ngIf="orderForm.controls.pickedLoose.invalid" class="small text-danger">
                      Picked loose should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 col-form-label col-form-label-sm">Picked</div>
                  <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="vistaPicked"
                        formControlName="vistaPicked">
                      <label class="custom-control-label" for="vistaPicked"></label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 col-form-label col-form-label-sm">Packed</div>
                  <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="vistaPacked"
                        formControlName="vistaPacked">
                      <label class="custom-control-label" for="vistaPacked"></label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="destination" class="col-sm-4 col-form-label col-form-label-sm">Destination</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="destination"
                      formControlName="destination">
                    <span *ngIf="orderForm.controls.destination.invalid" class="small text-danger">
                      Destination should be 10 characters or less
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card mt-2">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h5 class="card-title">
            <h4>Customer</h4>
          </h5>
          <!--Text-->
          <form [formGroup]="custForm">
            <div class="row">
              <div class="col">
                <div class="form-group row">
                  <label for="vistaName" class="col-sm-4 col-form-label col-form-label-sm">Vista Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="vistaName" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="friendlyName" class="col-sm-4 col-form-label col-form-label-sm">Friendly Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="friendlyName"
                      formControlName="friendlyName">
                  </div>
                </div>
                <!-- <div class="form-group row">
                  <label for="accountGroup" class="col-sm-4 col-form-label col-form-label-sm">Account Group</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="accountGroup"
                      formControlName="accountGroup" />
                  </div>
                </div> -->
                <div class="form-group row">
                  <label for="address1" class="col-sm-4 col-form-label col-form-label-sm">Address</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm mb-1" id="address1" formControlName="address1">
                  </div>
                  <label for="address2" class="col-sm-4 col-form-label col-form-label-sm"></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm mb-1" id="address2" formControlName="address2">
                  </div>
                  <label for="address3" class="col-sm-4 col-form-label col-form-label-sm"></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm mb-1" id="address3" formControlName="address3">
                  </div>
                  <label for="address4" class="col-sm-4 col-form-label col-form-label-sm"></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="address4" formControlName="address4">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="town" class="col-sm-4 col-form-label col-form-label-sm">Town</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="town" formControlName="town">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="postCode" class="col-sm-4 col-form-label col-form-label-sm">Post Code</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="postCode" formControlName="postCode">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="prime" class="col-sm-4 col-form-label col-form-label-sm">Prime</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="prime" formControlName="prime">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="brick" class="col-sm-4 col-form-label col-form-label-sm">Brick</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="brick" formControlName="brick">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-6 mt-2 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <h4>Schedule Details</h4>
          </h5>
          <form [formGroup]="orderForm">
            <div class="row">

              <div class="col">
                <div class="form-group row">
                  <div class="col-sm-4 col-form-label col-form-label-sm">Scheduled</div>
                  <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="Scheduled" formControlName="scheduled">
                      <label class="custom-control-label" for="Scheduled"></label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="palDest" class="col-sm-4 col-form-label col-form-label-sm">Destination</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="palDest" formControlName="palDest">
                    <span *ngIf="orderForm.controls.palDest.invalid" class="small text-danger">
                      Pal Dest should be 10 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="alp" class="col-sm-4 col-form-label col-form-label-sm">ALP</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="alp" formControlName="alp">
                    <span *ngIf="orderForm.controls.alp.invalid" class="small text-danger">
                      ALP should be 3 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="bench" class="col-sm-4 col-form-label col-form-label-sm">Bench</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="bench" formControlName="bench">
                    <span *ngIf="orderForm.controls.bench.invalid" class="small text-danger">
                      Bench should be 3 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="priority" class="col-sm-4 col-form-label col-form-label-sm">Priority</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="priority" formControlName="priority">
                    <span *ngIf="orderForm.controls.priority.invalid" class="small text-danger">
                      Priority should be 50 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 col-form-label col-form-label-sm">Picked</div>
                  <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="picked" formControlName="picked">
                      <label class="custom-control-label" for="picked"></label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 col-form-label col-form-label-sm">Packed</div>
                  <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="packed" formControlName="packed">
                      <label class="custom-control-label" for="packed"></label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="holdLoc" class="col-sm-4 col-form-label col-form-label-sm">Hold Loc</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="holdLoc" formControlName="holdLoc">
                    <span *ngIf="orderForm.controls.holdLoc.invalid" class="small text-danger">
                      Hold loc should be 80 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="palconPakced" class="col-sm-4 col-form-label col-form-label-sm">Palcon Packed</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="palconPacked"
                      formControlName="palconPacked">
                    <span *ngIf="orderForm.controls.palconPacked.invalid" class="small text-danger">
                      Palcon packed should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="status" class="col-sm-4 col-form-label col-form-label-sm">Status</label>
                  <div class="col-sm-8">
                    <select formControlName="status" class="form-control form-control-sm">
                      <option *ngFor="let option of statusOptions" [value]="option">{{option}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="comments" class="col-sm-4 col-form-label col-form-label-sm">Comments</label>
                  <div class="col-sm-8">
                    <textarea class="form-control form-control-sm" id="comments" formControlName="comments" rows="5"></textarea>
                    <span *ngIf="orderForm.controls.comments.invalid" class="small text-danger">
                      Comments should be 255 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="workDate" class="col col-4 col-form-label col-form-label-sm">Work Date
                  </label>
                  <div class="col col-8">
                    <input type="text" class="form-control form-control-sm" id="workDate" formControlName="workDate"
                      bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="despDate" class="col col-4 col-form-label col-form-label-sm">Desp Date
                  </label>
                  <div class="col col-8">
                    <input type="text" class="form-control form-control-sm" id="despDate" formControlName="despDate"
                      bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="delDate" class="col col-4 col-form-label col-form-label-sm">Del Date
                  </label>
                  <div class="col col-8">
                    <input type="text" class="form-control form-control-sm" id="delDate" formControlName="delDate"
                      bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="palletIds" class="col-sm-4 col-form-label col-form-label-sm">Pallet Ids</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="palletIds" formControlName="palletIds">
                    <span *ngIf="orderForm.controls.palletIds.invalid" class="small text-danger">
                      Pallet Ids should be 100 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="palletCount" class="col-sm-4 col-form-label col-form-label-sm">Pallet Count</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="palletCount"
                      formControlName="palletCount">
                    <span *ngIf="orderForm.controls.palletCount.invalid" class="small text-danger">
                      Pallet count should be a number
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="palletNumbers" class="col-sm-4 col-form-label col-form-label-sm">Pallet Numbers</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="palletNumbers"
                      formControlName="palletNumbers">
                    <span *ngIf="orderForm.controls.palletNumbers.invalid" class="small text-danger">
                      Pallet numbers should be 255 characters or less
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" (click)="submitForm()"
                      [disabled]="saveDisabled || !orderForm.valid">Save</button>
                      <button type="button" class="btn btn-secondary ml-3" (click)="resetForm()"
                      [disabled]="orderForm.pristine">Cancel</button>
                    <button type="button" class="btn btn-danger ml-3" (click)="deleteOrder()"
                      [disabled]="!order.manualOrder || order.id === 0">Delete</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #allowEdit>
  <div class="modal-body text-center">
    <p>The Vista status should only be updated manually in exceptional circimstances</p>
    <p>Do you wish to proceed?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>