<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

  <!-- Navbar brand -->
  <a class="navbar-brand">
    <img src="assets/img/penguin-logo_navbar.svg" class="md-penguin" alt="Penguin" />
    {{navbarData.applicationName}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">

    <!-- Links -->
    <ul class="navbar-nav mr-auto ws-nav">
      <li class="nav-item" *ngFor="let menuitem of navbarData.menuItems">
        <a *ngIf="!menuitem.subMenu.length" class="nav-link" [routerLink]="menuitem.menuLink">{{menuitem.menuName}}</a>
        <div *ngIf="menuitem.subMenu.length" class="dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle">
            {{menuitem.menuName}}</a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <ng-container *ngFor="let subitem of menuitem.subMenu">
              <a *ngIf="subitem.menuName !== 'divider'" class="dropdown-item" [routerLink]="subitem.menuLink">{{subitem.menuName}}</a>
              <div *ngIf="subitem.menuName === 'divider'" class="dropdown-divider"></div>
            </ng-container>
          </div>
        </div>
      </li>
    </ul>

    <!-- Search form -->
    <form class="form-inline mr-auto" *ngIf="navbarData.searchEnabled" id="searchForm" [formGroup]="searchForm"
      (ngSubmit)="searchTriggered()">
      <div>
        <input class="effect-5" type="text" formControlName="searchTerm"
          [attr.placeholder]="navbarData.searchPlaceholder">
        <span class="focus-border"></span>
      </div>
    </form>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link" [routerLink]="['/profile']">
          <img src="{{userImageUrl}}" class="md-avatar size-1 rounded-circle" alt="{{userName}}'s account"
            title="{{userName}}"></a>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->