<div class="row ">
    <div class="col col-12 col-lg-6 mt-3">
        <app-loading *ngIf="isLoadingStatus"></app-loading>
        <ng-container *ngIf="!isLoadingStatus">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        <div class="text-center">All Orders</div>
                    </h6>
                    <div style="display: block">
                        <canvas baseChart [chartType]="orderChartType" [datasets]="orderChartData"
                            [labels]="orderChartLabels" [colors]="orderChartColors" [options]="orderChartOptions"
                            [legend]="true">
                        </canvas>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="col col-12 col-lg-6 mt-3">
        <app-loading *ngIf="isLoadingScheduleStatus"></app-loading>
        <ng-container *ngIf="!isLoadingScheduleStatus">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        <div class="text-center">Scheduled Orders</div>
                    </h6>
                    <div style="display: block">
                        <canvas baseChart [chartType]="orderChartType" [datasets]="schChartData"
                            [labels]="schChartLabels" [colors]="orderChartColors" [options]="orderChartOptions"
                            [legend]="true">
                        </canvas>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col col-12 col-lg-6 mt-3">
        <app-loading *ngIf="isLoadingDespatch"></app-loading>
        <ng-container *ngIf="!isLoadingDespatch">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        <div class="text-center">Despatch History</div>
                    </h6>
                    <div style="display: block">
                        <canvas baseChart [chartType]="despChartType" [datasets]="despData" [labels]="despLabels"
                            [options]="despOptions" [legend]="true">
                        </canvas>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col col-12 col-lg-6 mt-3">
        <app-loading *ngIf="isLoadingRelease"></app-loading>
        <ng-container *ngIf="!isLoadingRelease">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        <div class="text-center">Release History</div>
                    </h6>
                    <div style="display: block">
                        <canvas baseChart [chartType]="relChartType" [datasets]="relData" [labels]="relLabels"
                            [options]="relOptions" [legend]="true">
                        </canvas>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="col col-12 col-lg-6 mt-3">
        <app-loading *ngIf="isLoadingDespatch"></app-loading>
        <ng-container *ngIf="!isLoadingDespatch">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        <div class="text-center">Despatch Summary</div>
                    </h6>
                    <div style="display: block">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Invoices</th>
                                    <th>Lines</th>
                                    <th>Units</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let day of despatchData">
                                    <td>{{day.key | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{day.invoices}}</td>
                                    <td>{{day.lines}}</td>
                                    <td>{{day.units}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="col col-12 col-lg-6 mt-3">
        <app-loading *ngIf="isLoadingRelease"></app-loading>
        <ng-container *ngIf="!isLoadingRelease">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">
                        <div class="text-center">Release Summary</div>
                    </h6>
                    <div style="display: block">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Invoices</th>
                                    <th>Lines</th>
                                    <th>Units</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let day of releaseData">
                                    <td>{{day.key | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{day.invoices}}</td>
                                    <td>{{day.lines}}</td>
                                    <td>{{day.units}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>