<div class="col-lg-12 col-md-12 col-sm-12" *ngIf="pchartDatasets[0].data !== undefined">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <div class="text-center">{{chartName}}</div>
            </mdb-card-title>
            <div style="display: block">
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="pchartDatasets"
                        [labels]="chartLabels"
                        [colors]="pchartColors"
                        [options]="pchartOptions"
                        [legend]="true">
                    </canvas>
            </div>
        </mdb-card-body>
        <mdb-card-footer>
            Last Updated: hh:mm:ss
        </mdb-card-footer>
    </mdb-card>
</div>